@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Primary color — brand red */
    --ui-color-primary-950: #780000;
    --ui-color-primary-900: #8f0000;
    --ui-color-primary-800: #a60000;
    --ui-color-primary-700: #bd0000;
    --ui-color-primary-600: #d40000;
    --ui-color-primary-500: #eb0000;
    /* main brand color */
    --ui-color-primary-400: #f01a1a;
    --ui-color-primary-300: #f53333;
    --ui-color-primary-200: #f94d4d;
    --ui-color-primary-100: #fc6666;
    --ui-color-primary-50: #fe8080;

    /* Secondary color is now brand black */
    --ui-color-secondary-950: #000000;
    --ui-color-secondary-900: #0d0d0d;
    --ui-color-secondary-800: #1a1a1a;
    --ui-color-secondary-700: #262626;
    --ui-color-secondary-600: #333333;
    --ui-color-secondary-500: #404040;
    --ui-color-secondary-400: #595959;
    --ui-color-secondary-300: #737373;
    --ui-color-secondary-200: #a6a6a6;
    --ui-color-secondary-100: #d9d9d9;
    --ui-color-secondary-50: #f2f2f2;
}


/* Typography Configuration */
/* Base font for all text */
body,
html,
* {
    font-family: 'Montserrat', sans-serif;
    /* color: #3f3f3f; */
}

/* DM Serif Text only for h1 */
h1 {
    font-family: 'DM Serif Text', serif;
    color: #020202;
}